body {
    background-size: cover;
	min-height: 100%;
    background-repeat: no-repeat;
    background-color: #2a2d34;
	background-attachment: fixed;
    margin: 0;
    padding: 0;
}
img {
	margin-left: auto;
	margin-right: auto;
}
.search-row {
    width: 1010px;
    height: 50px;
    margin: 10px auto 20px auto;
    padding: 0px 20px;
    background-color: #1a1d24;
    border: solid 1px #1a1d24;
    opacity: 0.8;
    border-radius: 0px;
}
#search-field {
    width: 1010px;
    height: 50px;
    padding: 0px 10px 0px 0px;
    background-color: #1a1d24;
    border: solid 0px #1a1d24;
    font-family: "Cutive Mono";
    font-size: 18px;
    color: #f2f2f2;
    float: left;
    outline: none;
}
.terminal-innerCon {
    width: 1010px;
    height: 300px;
    margin: auto;
    padding: 0px 20px;
    background-color: #1a1d24;
    border: solid 1px #1a1d24;
    opacity: 0.9;
}
.favCon {
    width: 290px;
    margin: 20px 20px;
    padding: 0px;
    border: solid 1px #96B5B4;
    float: left;
}
.favCon-header {
    padding: 5px 0px;
    background: #96B5B4;
    font-family: "Cutive Mono";
    font-size: 18px;
    color: #1a1d24;
}
.favCon-body {
    margin: 0px;
    padding: 5px 0px 10px 0px;
    text-align: center;
}
.favCon-body a {
    border: none;
}

.favCon-el {
    width: 95%;
    height: 30px;
    margin: 5px auto 0px auto;
    padding: 0px 20px;
    box-sizing: border-box;
}

.favCon-el:hover {
    background: #96B5B4;
}

.favCon-el:hover span {
    color: #1a1d24;
}

.favCon-el-content {
    width: 100%;
    height: 100%;
    padding: 5px 0px 0px 0px;
    font-family: "Cutive Mono";
    font-size: 18px;
    color: #f2f2f2;
    text-align: left;
    float: left;
}